.hover-effect-image {
  transition: transform 0.3s ease;
}

.hover-effect-image:hover {
  transform: scale(1.2);
}
.courseDetailContainer{
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.15em;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.table-row {
  animation: slideIn 0.5s ease forwards;
}
.add-activity{
    background-color:  rgb(255, 192, 0);
    border: 1px solid transparent;
    text-decoration: none;
    display: inline-block;  /* Makes the element only as wide as its content */
    padding: 10px 20px;    /* Adds space around the text */
        
    border-radius: 25px;    /* Adjusted to visually fit the text */
    font-size: 16px;        /* Text size */
 
      margin-bottom: 10px;
  }
  th, td {
    border-bottom: 1px solid black; /* Adds a horizontal line below each row */
    padding: 8px;
    text-align: left;
  }
  
  tr:last-child td {
    border-bottom: none; /* Removes the bottom border from the last row */
  }
 
  .examZoom-records{
    background-color: rgb(255, 192, 0);
    border: 1px solid transparent;    
    border-radius: 10px;   
    
  }

  @media (max-width: 992px) and (min-width: 768px) {
    .responsive-table-col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 700px) {
  .activityAdderForm{
    width: 100%;
  }
}

.course-details-content {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.lecture-time {
  width: 60%;
  border: 1px solid transparent;
  text-align: center;
  background-color: rgb(255, 192, 0);
  margin: 10px;
  border-radius: 15px;
}

.subject-detail {
  background-color: #5ae4c6;
  border: 1px solid transparent;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  overflow-x: hidden; /* Enables horizontal scrolling */
}

.subject-detail table {
  width: 95%;
  border-collapse: collapse;
  background-color: white;
  margin: 10px;
}

.add-activity {
  background-color: rgb(255, 192, 0);
  border: 1px solid transparent;
  text-decoration: none;
  display: inline-block; /* Makes the element only as wide as its content */
  padding: 10px}
