
.navbar-brand {
    position: relative;
    right: 0;
    display: flex;
    align-items: center;
}

.logo-image {
    border-radius: 10px;
    width: 195px; /* If the original width is 200px, for example */
    height: 100px; /* If the original height is 200px, for example */
}



.specialButton {
    position: absolute;
    right: 85%; /* Align to the left side of the Navbar.Brand */
    white-space: nowrap;
    transform: translateX(10%);
    background-color: rgb(223, 161, 0);
    border: 1px solid transparent;
    border-radius: 10px;
    max-width: 100vw; /* Maximum width can be 100% of the viewport width */
    overflow: hidden; /* Prevents overflow */
    text-overflow: ellipsis;
    z-index: 4;
    padding: 5px 10px;
    font-weight: bold;
}

.navbar-toggle {
    position: absolute;
    left: 0;
    top: 3px;
    background-color: rgb(90, 228, 198);
}

.student-nav-items {
    position: absolute;
    left: 45px;
    right: 330px;
    border: 0px solid transparent;
    padding: 5px;
    padding-left: 90px; /* Add padding to the left */
    padding-right: 35px; /* Add padding to the right */
    border-radius: 10px;
    background-color: rgb(90, 228, 198);
    z-index: 2;
    display: flex;
    flex-direction: row; /* Align items in a row */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Distribute items evenly */
    text-align: center;
}

.nav-link {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Center text */
    margin: 0 10px; /* Add margin to the left and right of each link */
}

.Navbar.Text {
    width: 100%; /* Ensures full width to center text correctly */
}


.logo-image2 {
    position: absolute;
    left: 10px; /* Adjust this value as needed to move the image more to the right */
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border-radius: 9px;
    border-radius: 10px;
    width: 130px; /* If the original width is 200px, for example */
    height: 70px;
}

@media (max-width: 320px) {
    .specialButton {
        font-size: 12px;
    }

    .logo-image {
        width: 110px;
    }

    .logo-image2 {
        margin-bottom: 3px;
        height: 40px;
        width: 0px;
        top: 100px;
    }

    * {
        font-size: medium;
    }
}

@media (max-width: 464px) {
    .specialButton {
        font-size: 20px;
    }

    .logo-image {
        width: 110px;
    }

    .logo-image2 {
        margin-bottom: 0;
        height: 40px;
        top: 100px;
        width: 80px
    }

    /** {
      font-size: small;
    }*/
}
