/* StudentCard.css */

.student-dashboard-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

.subject-card {
    border: 1px solid transparent;
    border-radius: 20px;
}

.card-header {
    background-color: #1f4e79;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    color: white;
}

.card-column {
    border: 1px solid transparent;
    background-color: rgb(255, 192, 0);
    border-radius: 10px;
    margin: 5px;
    align-content: center;
    gap: 10px;
    padding: 10px;
    text-align: center;
}

.keyboard_backspace {
    background-color: rgb(90, 228, 198);
    border-radius: 20px;
}

@media (max-width: 768px) {
    .student-dashboard-container {
        max-width: 100%;
        padding: 10px;
    }

    .card-column {
        margin: 3px;
        padding: 8px;
        font-size: small;
    }
}
