/* todolist.css */

/* Main Container for To-Do List */
.student-dashboard-container {
  background-color: #1f4e79;
  border-radius: 10px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.to-do-list-content {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 30px;
  border: 1px solid transparent;
  width: 50%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 4rem;
  color: white;
}

.add-button, .delete-button, .move-button {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 8px 12px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  margin-left: 5px;
}

.add-button {
  background-color: hsl(125, 47%, 54%);
}

.add-button:hover {
  background-color: hsl(125, 47%, 44%);
}

.delete-button {
  background-color: hsl(10, 90%, 50%);
}

.delete-button:hover {
  background-color: hsl(10, 90%, 40%);
}

.move-button {
  background-color: hsl(207, 90%, 64%);
}

.move-button:hover {
  background-color: hsl(207, 90%, 54%);
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
  margin: 15px;
}

ol {
  padding: 0;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}
